* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.header-container {
  background-color: darkgrey;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cabecalho {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.img-container {
  width: 530px;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.img-container div {
  padding: 10px;
  background-color: aliceblue;
  border-radius: 15px;
  margin: 3px;
}

.rodape {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}